@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.hehe{
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.slideme::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   cursor: pointer;
   background: rgb(238, 1, 21);
}
.slideme{
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}
select{
  font-size: 16px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
}